:root {
    --primary: #ff9800;
    --dark: #111;
}
/* PAGE TITLE */
.page-title {
    text-align: center;
    padding: 50px 20px 20px;
}
.page-title h2 { font-size: 2.5rem;}
.page-title h2 span { color: var(--primary);}
.page-title p {
    margin-top: 8px;
    color: #666;
}

/* GALLERY GRID */
.gallery-grid {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
}
.gallery-grid img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}
/* LIGHTBOX */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.lightbox.active { display: flex;}
.lightbox img {
    max-width: 90%;
    max-height: 85vh;
    border-radius: 16px;
}
.lightbox span {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}
/* Responsive */
@media(max-width:768px){
    .gallery-grid img { height: 190px; }
    .page-title h2 { font-size: 2rem; }
}